@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Clinician Org Sample</h1>
    <p>Goto <a asp-page="Agency/Index">the agency sample page</a> (Requires authentication)</p>
</div>
