@model Microsoft.AspNetCore.Mvc.ValidationProblemDetails

<div class="panel panel-danger">
    <div class="panel-heading">
        Validation errors
    </div>
    <div class="panel-body">
        <p>
            <dl>
                @foreach (var error in Model.Errors)
                {
                <dt>@error.Key</dt>
                <dd>
                    <ul class="list-group">
                        @foreach (var line in error.Value)
                            {
                        <li class="list-group-item list-group-item-danger">@line</li>
                            }
                    </ul>
                </dd>
                }
            </dl>
        </p>
    </div>
</div>