@page
@model Lenus.Samples.ClinicianOrg.Pages.Patient.RedirectModel

<h2>Thank you for completing agency setup</h2>

<dl>
    <dt>Subject</dt>
    <dd>@Html.DisplayFor(m => m.Subject)</dd>
    <dt>State</dt>
    <dd>@Html.DisplayFor(m => m.State)</dd>
</dl>