@model IEnumerable<PhysicalActivitySampleModel>

<table class="table table-striped">
    <thead>
    <tr>
        <th class="text-center">Date</th>
        <th class="text-center">Reading</th>
    </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
    {
        <tr>
            <td class="text-center" colspan="2"><span class="text-muted">No data available</span></td>
        </tr>
}
        @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.From)</td>
            <td>
                <span>@Html.DisplayFor(m => item.Steps)</span>
            </td>
        </tr>
}
    </tbody>
</table>