@using Newtonsoft.Json
@model Microsoft.AspNetCore.Mvc.ProblemDetails

<div class="alert alert-danger">
    <h4>@Model.Title</h4>
    <p>@Model.Detail</p>
    <pre><code>@JsonConvert.SerializeObject(Model, Formatting.Indented)</code></pre>
</div>