@page
@model Lenus.Samples.ClinicianOrg.Pages.Invite.IndexModel

@if (!Model.Submitted)
{
	<form method="post" asp-antiforgery="true">
		@Html.EditorFor(m => m.Form)
	 <div class="form-row mt-3">
	  <input type="submit" value="Invite" />
	 </div>
	</form>
}
else
{
	<p>Agency invite submitted</p>
}